body {
    font-family: sans-serif, system-ui;
    color: white;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

nav {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: -40px !important;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px 67px;
    position: fixed;
    top: -10px !important;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

.logodiv {

    margin-top: 50px;
}

.logo {
    height: 100px;
    width: 200px;
}

ul {
    display: flex;
    padding-left: 40px;
}

ul li {
    padding: 0 20px;
    list-style: none;
    font-size: 18px;
}

ul li:hover {
    text-decoration: underline;
}

.icon-div {
    display: flex;
    gap: 80px;
    padding-top: 20px !important;
    margin-left: 20px;
}

.icon-div1 {
    display: flex;
    gap: 40px;
    margin-right: 101px;
    margin-left: 20px;
}

.icon {
    fill: white;
    width: 20px;
    height: 40px;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: gray;
}

.centerdiv {
    text-align: center;
    padding: 20px;
}

.textdiv {
    text-align: center;
}

.heading {
    font-size: 50px;
    margin-top: 100.5px;
    margin-bottom: 20px;
}

/* .inputdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} */
input[type="text"] {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
    padding: 5px 0;
    width: 300px;
}

input[type="text"]::placeholder {
    color: white;
    opacity: 0.6;
    /* Adjusts the placeholder text opacity */
}

#formtext {
    padding: 10px;
    font-size: 16px;
}

.btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    border-radius: 10px;
}


.btn:hover {
    background-color: white;
    color: black;
}

.spantext {
    margin-top: 20px;
    font-size: 18px;
}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
    margin: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.box img {
    width: 100%;
    height: 400px;
}

.boxtext,
.boxtext1 {
    margin-top: 20px;
    color: white;


}

.boxheading {
    margin-top: 100px;
    font-weight: bolder;
    font-size: 29px;
}

ul a {
    text-decoration: none;
    color: white;
}

footer {
    background: black;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 80px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;

}

.footer-section ul li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: gray;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #444;
}

.abouttexthead {
    text-align: center;
}

#boxtextid {
    margin-right: 10px;
}

#aboutmetext {
    margin-top: 80px;
}

a svg:hover {
    size: 2px;
    /* display: none; */

}

.h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.letter {
    display: flex;
    flex-direction: column;

    background-color: black;
    color: #ffffff;
    padding: 20px;
}


.articles-container {
    display: flex;

    justify-content: space-evenly;
}


.article {
    /* padding: 20px 20px; */
    height: 550px;
    width: 100%;
    border-radius: 8px;
    background-color: #302828;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

    text-align: center;

}

.article img {
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    margin-top: px;
    opacity: 0.6;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    background: transparent;
}

.article h4 {
    font-size: 18px;
    margin: 0;
}

.hr {
    margin-left: 0px;
    margin-right: px;
    margin-bottom: 39px;
}

#articalimg {
    flex-direction: column;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.artical-tag {
    margin-top: -166px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.artical-tag-p {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-size: larger;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.resource-item {
    margin-bottom: 40px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.hrofartical {
    margin-right: 20px;
}





@media (max-width: 768px) {
    #mianbox1 {
        flex-direction: column-reverse !important;
    }

    .logo {
        height: 86px !important;
    }

    ul {
        padding-left: 20px;

    }

    ul li {
        padding-left: 20px;
        font-size: 16px;
    }

    .centerdiv {
        text-align: center;
        padding: 20px;
    }

    .mainbox {
        flex-direction: column;
        padding-top: 60px;

    }

    .box {
        flex-direction: column;
        height: auto;
        width: 100%;
        /* margin-left: -2px; */
        /* padding-left: 15px */
        margin: 0px 0px;



    }

    .boxtext,
    .boxtext1 {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
        font-family: initial;
        text-align: left;
        margin-left: 10px;

    }

    img {
        width: 90% !important;
        height: 287px !important;
        /* margin-right: 18px; */
    }

    input[type="text"] {
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        color: white;
        outline: none;
        padding: 5px 0;
        width: 197px;
    }

    input[type="text"]::placeholder {
        color: white;
        opacity: 0.6;

    }

    .btn {
        padding: 9px 18px;
        font-size: 13px;
        border-radius: 9px;
    }

    nav {
        padding-left: 0px;
        height: 100px;
        width: 100%;
        padding-top: 20px !important;
        position: inherit;
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .icon-div1 {
        display: none;
    }

    .boxheading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: initial;

    }

    .footer-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section ul li a {
        font-size: 16px;
    }

    .br {
        display: none;
    }

    #aboutmetext {
        margin-top: 0px;
    }

    .abouttexthead {
        font-size: medium;
    }

    #aboutme {
        padding-top: 0px;
    }

    .artical-tag {
        margin-top: -80px;
    }

    .heading {
        margin-top: 0px;
        font-size: large;
    }

    .resource-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .btn {
        padding: 8px 16px;
        font-size: 12px;
        border-radius: 8px;
    }

    .boxtext,
    .boxtext1 {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
        font-family: initial;
        text-align: left;
        margin-left: 20px;
        font-size: medium;
    }

    .footer-section h2 {
        font-size: 16px;
    }

    .footer-section p,
    .footer-section ul,
    .footer-section li {
        font-size: 12px;
    }


    .footer-section ul li a {
        font-size: 14px;
    }

    #mainbox1 {
        flex-direction: column-reverse;
    }

    .br {
        display: none;
    }

    .boxheading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: initial;
    }

    #aboutmetext {
        padding: 10px 10px;
        text-align: center;
        margin-top: 0px;
        font-size: medium;
    }

    .abouttexthead {
        font-size: medium;
    }

    #fb {
        height: 6px;
    }

    .h4 {
        font-size: small;
        font-family: sans-serif;
        margin-right: 20px !important;
    }

    .artical-tag-p {
        font-size: small;
        margin-right: 11px;
    }

    .article {
        height: 483px;


    }

    .artical-tag h2 {
        font-size: larger;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .hrofartical {
        margin-right: 20px;
    }

    .article img {

        width: 349px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;

    }

    .resources-section {
        margin-top: 0px;
    }

    .resources-section h2 {
        font-size: larger;
    }

    .resources-section h3 {
        font-size: medium;
    }

    .footer-section p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resource-item {
        font-size: large;
    }

    .resource-item p {
        font-size: small;
    }
    #textchangeh4{
        margin-right: 10px !important;
    }


}

@media (min-width: 769px) and (max-width: 1024px) {


    ul {
        padding-left: 25px;
        padding-right: 70px;
    }

    ul li {
        padding-left: 25px;
        font-size: 18px;
    }

    .centerdiv {
        text-align: center;
        padding: 25px;
    }

    .mainbox {
        flex-direction: column;
        padding-top: 70px;
    }

    .box {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-left: -2px;
        padding-left: 20px;
        padding-right: 5px;
    }

    .boxtext,
    .boxtext1 {
        margin-left: 0;
        text-align: center;
        margin-top: 25px;
        font-family: initial;
        text-align: left;
        margin-left: 15px;
    }

    img {

        height: 350px !important;
        /* margin-right: 20px; */
    }

    input[type="text"] {
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        color: white;
        outline: none;
        padding: 6px 0;
        width: 210px;
    }

    input[type="text"]::placeholder {
        color: white;
        opacity: 0.6;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 10px;
    }

    nav {
        padding: 15px;
    }

    .icon-div1 {
        /* display: none; */
        margin-right: 0px;
        margin-left: 0px;
        gap: 20px;
        padding-right: 32px;
    }

    .boxheading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;

    }

    .footer-content {
        flex-direction: column;
        padding: 0 25px;
        align-items: center;
        justify-content: center;
    }

    .footer-section {
        margin-bottom: 25px;
    }

    .footer-section ul li a {
        font-size: 18px;
    }

    .br {
        display: none;
    }

    #mainbox1 {
        flex-direction: column-reverse;
    }

    #aboutmetext {
        margin-top: 0px;

    }

    .h4 {
        font-size: small;
        font-family: sans-serif;
        margin-right: 20px !important;
    }

    .artical-tag h2 {
        font-size: larger;
    }

    .footer {
        align-items: center;
        justify-content: center;
    }

    .resource-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 120px !important;
    }

}